# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# the directory where the snapshot is stored.
dataDir=/tmp/zookeeper
# the port at which the clients will connect
clientPort=2181
# Limits the number of concurrent connections (at the socket level) that
# a single client, identified by IP address, may make to a single member
# of the ZooKeeper ensemble. This is used to prevent certain classes of
# DoS attacks, including file descriptor exhaustion. The default is 60.
# Setting this to 0 entirely removes the limit on concurrent connections.
maxClientCnxns=200

tickTime=2000

{% for host in groups['kafka'] %}
server.{{ loop.index - 1 }}={{ hostvars[host].ansible_default_ipv4.address }}:2888:3888
{% endfor %}

initLimit=20

syncLimit=10
